<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- <add name ="connectionString" connectionString ="Server =DESKTOP-UBAAGU0\SQLEXPRESS; Database=FileServer; Integrated Security=SSPI"/> -->
    <add name="connectionString" connectionString="Server =. ;Database =BYNCO_JET; integrated security=SSPI" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <!--<authentication mode="Forms">
          <forms loginUrl="~/Login.aspx" timeout="2880" />
  
  </authentication>-->
    <!--<customErrors mode="On" defaultRedirect="~/UnderConstruction.aspx" >
      
      
    </customErrors>-->
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 0F298E05-9E24-4812-AD94-272A2CA38FE5-->